{% extends "site_base.html" %}

{% block body_id %}policy-page{% endblock %}

{% block body %}
  <header class="offset2 span8 jumbotron" id="overview">
    <h1>Terms of Service</h1>
  </header>

  <section class="offset2 span8">
    <h2>The gist</h2>
    <p>We (<a href="{{ url("about") }}">the folks at Crate</a>) run a PyPI mirror and package hosting and creation service called <a href="https://crate.io/">Crate.io</a> and would <strong>love</strong> for you to use it. Our service is free and is designed to give you a secure and reliable place to host your packages, as well as allowing users to download them easily. However, be responsible in what you publish. In particular, make sure that none of the prohibited items listed below appear on your site or get linked to from your site (things like spam, viruses, or hate content).</p>

    <h2>Terms of Service</h2>
    <p>Coming Soon!</p>
  </section>
{% endblock %}
