{% extends "site_base.html" %}

{% block head_title %}{{ gettext("My Favorites") }}{% endblock %}

{% block body %}
  <div class="page-header">
    <h1>{{ gettext("My Favorites") }}</h1>
  </div>

  {% for object in object_list %}
    <div>
      <h3><a href="{{ object.package.get_absolute_url() }}">{{ object.package.name }}</a> {% if object.package.latest %}<small>{{ object.package.latest.version }}{% endif %}</small></h3>

      <blockquote>
        {{ object.package.latest.summary }}
      </blockquote>
    </div>
  {% else %}
    <div>{{ gettext("You have no Favorites") }}</div>
  {% endfor %}
{% endblock %}
