{% extends "subnav_base.html" %}

{% block body_class %}account{% endblock %}

{% block subnav %}
  <ul class="nav nav-list">
    <li class="nav-header">{{ gettext("Account") }}</li>
    <li><a href="{{ url("account_settings") }}">{{ gettext("Settings") }}</a></li>
    <li><a href="{{ url("account_password") }}">{{ gettext("Change Password") }}</a></li>
    <li><a href="{{ url("saved_searches_most_recent_by_user", username=user.username) }}">{{ gettext("Search History") }}</a></li>
  </ul>
{% endblock %}
