{% extends "site_base.html" %}

{% block head_title %}{{ gettext("Confirm your email address") }}{% endblock %}

{% block body %}
  <h2>{{ gettext("Confirm your email address") }}</h2>

  <p>{% trans %}We have sent you an email to <b>{{ email }}</b> for verification. Follow the link provided to finalize the signup process. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ ACCOUNT_CONTACT_EMAIL }}">{{ ACCOUNT_CONTACT_EMAIL }}</a>.{% endtrans %}</p>
  <p><a href="{{ success_url }}">Go back</a></p>
{% endblock %}
