{% extends "account/base.html" %}

{% import "bootstrap/forms.html" as bootstrap %}

{% block head_title %}{{ gettext("Language") }}{% endblock %}

{% block body %}
  <header class="jumbotron subhead" id="overview">
    <h1>{{ gettext("Language Settings") }}</h1>
    <p class="lead">{{ gettext("This site can be used in your preferred language.") }}</p>
  </header>

  <form method="POST" action="">
    {{ csrf() }}

    {{ bootstrap.render_form(form) }}

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{{ gettext("Change my language") }}</button>
    </div>
  </form>
{% endblock %}
