{% extends "site_base.html" %}

{% import "bootstrap/forms.html" as bootstrap %}

{% block head_title %}{{ gettext("Log In") }}{% endblock %}

{% block body %}
  <header class="jumbotron subhead" id="overview">
    <h1>{{ gettext("Log in") }}</h1>
    <p class="lead">{{ gettext("If you have an existing account, provide your login credentials below.") }}</p>
  </header>

  <div class="row">
    <div class="span8">
      <form method="POST" action="{{ url("account_login") }}" autocapitalize="off" class="form-horizontal"{% if form.is_multipart() %} enctype="multipart/form-data"{% endif %}>
        {{ csrf() }}

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <legend>{{ gettext("Log in with an existing account") }}</legend>

        {{ bootstrap.render_form(form) }}

        <div class="form-actions">
          <a href="{{ url("account_password_reset") }}" class="btn">{{ gettext("Forgot your password?") }}</a>
          <button type="submit" class="btn btn-primary">{{ gettext("Log in") }}</button>
        </div>
      </form>
    </div>

    <div class="span4">
      {% include "account/_login_sidebar.html" %}
    </div>
  </div>
{% endblock %}
