{% extends "site_base.html" %}

{% import "bootstrap/forms.html" as bootstrap %}

{% block head_title %}{{ gettext("Log In") }}{% endblock %}

{% block body %}
  <header class="jumbotron subhead" id="overview">
    <h1>{{ gettext("Log in") }}</h1>
    <p class="lead">{{ gettext("If you have an existing account, provide your login credentials below.") }}</p>
  </header>

  <div class="row">
    <div class="span8">
      {% if user.is_authenticated() %}
        {% set user_display = user_display(request.user) %}

        <div class="alert alert-info">
          <strong>{{ gettext("Note") }}</strong>: {{ gettext("you are already logged in as %(user_display)s.", user_display=user_display) }}
        </div>
      {% else %}
        <p>{% trans signup_url=url("account_signup") %}Don't have an account? <a href="{{ signup_url }}">Sign up</a>!{% endtrans %}</p>
        <p><a href="{{ url("account_password_reset") }}">{{ gettext("Forgot password?") }}</a></p>
      {% endif %}

      <form method="POST" action="{{ url("account_login") }}" autocapitalize="off" class="form-horizontal">
        <legend>{{ gettext("Log in with an existing account") }}</legend>

        {{ csrf() }}

        {{ bootstrap.render_form(form) }}

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{{ gettext("Log in") }}</button>
        </div>
      </form>

      <form action="/openid/register/" method="POST" autocapitalize="off" class="form-horizontal">

        {{ csrf() }}

        <fieldset>
          <legend>{{ gettext("Or sign in with your OpenID") }}</legend>

          <div class="control-group">
            <label class="control-label" for="id_username">{{ gettext("OpenID Identifier") }}</label>

            <div class="controls">
              <input class="openid" type="text" name="openid_url" />
            </div>
          </div>

          <div class="form-actions">
            <input type="submit" value="{{ gettext("Log in") }}" class="btn btn-primary" />
          </div>
        </fieldset>
      </form>

      {% if not user.is_authenticated() %}
        <p>{% trans %}If you have any trouble logging in to your account, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endtrans %}</p>
      {% endif %}
    </div>

    <div class="span4">
      {% include "account/_login_sidebar.html" %}
    </div>
  </div>
{% endblock %}

{% block extra_script %}
  <script>
    $(document).ready(function(){
      $("#id_username").focus();
     });
  </script>
{% endblock %}
