{% extends "account/base.html" %}

{% import "bootstrap/forms.html" as bootstrap %}

{% block head_title %}{{ gettext("Change Password") }}{% endblock %}

{% block body %}
    <form method="POST" action="{{ url("account_password") }}">
        {{ csrf() }}

        <legend>{{ gettext("Change password") }}</legend>
        <fieldset>

            {{ bootstrap.render_form(form) }}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ gettext("Save") }}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
