{% extends "site_base.html" %}

{% block head_title %}{{ gettext("Password Reset") }}{% endblock %}

{% block body %}
  <header class="jumbotron subhead" id="overview">
    <h1>{{ gettext("Reset Email Sent") }}</h1>
    <p class="lead">{{ gettext("An email with information on how to reset your password has been sent to your email address.") }}</p>
  </header>

  {% if user.is_authenticated() %}
    <div class="alert alert-info">
      {% set user_display = user_display(request.user) %}
      <strong>{{ gettext("Note") }}</strong> {{ gettext("You are already logged in as %(user_display)s.")|format(user_display=user_display) }}
    </div>
  {% endif %}

  <p>{% trans %}If you do not receive your reset email within a few minutes, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endtrans %}</p>
{% endblock %}
