{% extends "account/base.html" %}

{% block head_title %}{{ gettext("Delete Password") }}{% endblock %}

{% block body %}
  <header class="jumbotron subhead" id="overview">
    <h1>{{ gettext("Delete Password") }}</h1>
    <p class="lead">{{ gettext("You may delete your password since you are currently logged in using OpenID.") }}</p>
  </header>

  <form method="post" action="">
    {{ csrf() }}
    <button type="submit" class="btn btn-danger">{{ gettext("Delete my password") }}</button>
  </form>
{% endblock %}
