{% extends "account/base.html" %}

{% import "bootstrap/forms.html" as bootstrap %}

{% block head_title %}{{ gettext("Set Password") }}{% endblock %}

{% block body %}
  <header class="jumbotron subhead" id="overview">
    <h1>{{ gettext("Set your password") }}</h1>
    <p class="lead">{{ gettext("Use the form below to set your password.") }}</p>
  </header>

  <form method="POST" action="">
    {{ csrf() }}

    {{ bootstrap.render_form(password_set_form) }}

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{{ gettext("Set password") }}"</button>
    </div>
  </form>
{% endblock %}
