{% extends "site_base.html" %}

{% import "bootstrap/forms.html" as bootstrap %}

{% block head_title %}{{ gettext("Change Password") }}{% endblock %}

{% block body %}
  <form method="POST" action="{{ url("account_password_reset_token", uidb36=uidb36, token=token) }}">
    {{ csrf() }}
    <legend>{{ gettext("Set password") }}</legend>
    <fieldset>

      {{ bootstrap.render_form(form) }}

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ gettext("Save") }}</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
