{% extends "site_base.html" %}

{% import "bootstrap/forms.html" as bootstrap %}

{% block head_title %}{{ gettext("Sign Up") }}{% endblock %}

{% block body %}
  <div class="row">
    <div class="span8">
      <header class="jumbotron subhead" id="overview">
        <h1>{{ gettext("Sign Up") }}</h1>
        <p class="lead">{{ gettext("To sign up with a new account, use the form below.") }}</p>
      </header>

      <form id="signup_form" method="post" action="{{ url("account_signup") }}" autocapitalize="off" class="form-horizontal"{% if form.is_multipart() %} enctype="multipart/form-data"{% endif %}>
        {{ csrf() }}

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <fieldset>
          {{ bootstrap.render_form(form) }}

          {% include "account/_terms.html" %}

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ gettext("Sign up") }}</button>
          </div>
        </fieldset>
      </form>

      <form action="/openid/register/" method="POST" autocapitalize="off" class="form-horizontal">
          <legend>{{ gettext("Or sign in with your OpenID") }}</legend>

          {{ csrf() }}

          <div class="control-group">
            <label class="control-label" for="openid_url">{{ gettext("OpenID Identifier") }}</label>
            <div class="controls">
              <input class="openid" type="text" name="openid_url" />
            </div>
          </div>

          <div class="form-actions">
            <input type="submit" value="{{ gettext("Sign in with OpenID") }}" class="btn btn-primary" />
          </div>
        </form>
    </div>

    <div class="span4">
      {% include "account/_signup_sidebar.html" %}
    </div>
  </div>
{% endblock %}
