{% extends "site_base.html" %}

{% import "bootstrap/forms.html" as bootstrap %}

{% block head_title %}{{ gettext("Sign Up") }}{% endblock %}

{% block body %}
  <header class="jumbotron subhead" id="overview">
    <h1>{{ gettext("Sign Up") }}</h1>
    <p class="lead">{{ gettext("To sign up with a new account, use the form below.") }}</p>
  </header>

  <div class="row">
    <div class="span8">
      {% if user.is_authenticated() %}
        <p>{{ gettext("You are already logged in.") }}</p>
      {% else %}
        <p>{{ gettext("Already have an account?") }} <a href="{{ url("acct_login") }}">{{ gettext("Log in") }}</a>!</p>

        {% if form.is_multipart %}
          <form id="signup_form" method="post" action="{{ url("acct_signup") }}" enctype="multipart/form-data" autocapitalize="off" class="form-horizontal">
        {% else %}
          <form id="signup_form" method="post" action="{{ url("acct_signup") }}" autocapitalize="off" class="form-horizontal">
        {% endif %}

          {{ csrf() }}
          {{ bootstrap.render_form(form) }}

          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ gettext("Sign up") }}</button>
          </div>
        </form>

        <form action="/openid/register/" method="POST" autocapitalize="off" class="form-horizontal">
          <legend>{{ gettext("Or sign in with your OpenID") }}</legend>

          {{ csrf() }}

          <div class="control-group">
            <label class="control-label" for="openid_url">{{ gettext("OpenID Identifier") }}</label>
            <div class="controls">
              <input class="openid" type="text" name="openid_url" />
            </div>
          </div>

          <div class="form-actions">
            <input type="submit" value="{{ gettext("Sign in with OpenID") }}" class="btn btn-primary" />
          </div>
        </form>

        {% include "account/_terms.html" %}

        <p>{% trans %}If you have any trouble creating your account, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endtrans %}</p>
      {% endif %}
    </div>

    <div class="span4">
      {% include "account/_signup_sidebar.html" %}
    </div>
  </div>
{% endblock %}

{% block extra_script %}
  <script type="text/javascript">
    $(function(){
      $("#id_username").focus();
    });
  </script>
{% endblock %}
