{% extends "site_base.html" %}

{% import "bootstrap/forms.html" as bootstrap %}

{% block head_title %}{{ gettext("Login") }}{% endblock %}

{% block body %}
  <h1>{{ gettext("Log In to OpenID") }}</h1>

  <form action="{{ url("openid-register") }}" method="post">
    <fieldset>
      {{ csrf() }}

      {{ bootstrap.render_form(form) }}

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ gettext("Log in") }}</button>
      </div>
    </fieldset>
  </form>

  {% if request.user.is_authenticated() %}
    <div><a href="{{ url("account_logout") }}?next={{ request.path }}">{{ gettext("Log out") }}</a></div>
  {% endif %}

  <p>{% trans %}If you have any trouble logging in to your account, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endtrans %}</p>
{% endblock %}

{% block extra_script %}
  <script>
    $("#id_openid_url").focus();
  </script>
{% endblock %}
