.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
#search .hero-unit,#search-results .hero-unit{padding-top:30px;padding-left:45px;padding-right:45px;}
#search-results .hero-unit{padding-bottom:10px;}
#search .package-stats{margin-bottom:60px;font-size:16px;color:#404040;}#search .package-stats .downloads{display:block;font-size:24px;font-weight:bold;line-height:36px;}
#search-results .results .result{padding-top:10px;padding-bottom:10px;}#search-results .results .result .package-name{font-weight:bold;line-height:27px;font-size:18px;}
#search-results .results .result .author{padding-left:10px;}
#search-results .results .result .summary{margin-top:15px;}
#search-results .results:nth-child(odd) .result{background-color:#f9f9f9;}
#search-results .results:hover .result{background-color:#f5f5f5;}
.content{background-color:#fff;padding:20px;margin:0 -20px;-webkit-border-radius:6px 6px 6px 6px;-moz-border-radius:6px 6px 6px 6px;border-radius:6px 6px 6px 6px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);}
.page-header{background-color:#f5f5f5;padding:20px 20px 10px;margin:-20px -20px 20px;}
#sidebar{margin-left:0;padding-left:19px;border-left:1px solid #eee;}#sidebar .downloads .count{display:block;color:#404040;font-weight:bold;font-size:24px;}
#sidebar .downloads .package,#sidebar .downloads .version{margin-bottom:1em;}
#install-cmd,#install-cmd h4{font-size:28px;font-weight:normal;font-family:Monaco, Andale Mono, Courier New, monospace;}
#install-cmd{margin-top:1em;margin-bottom:1em;text-align:center;}#install-cmd h4{display:inline;text-transform:uppercase;font-size:18px;}
#install-cmd h4:after{content:" >";}
