{% macro intercom_js(user) -%}
  {% set idata = intercom_data(user) %}
  blah
  {{ idata }}
  {% if idata %}
    <script>
      var intercomSettings = {
        app_id: '{{ idata.app_id }}',
        email: '{{ idata.email }}',
        {% if idata.user_hash -%}
        user_hash: '{{ idata.user_hash }}',
        {% endif -%}
        custom_data: {{ idata.custom_data|safe }},
        created_at: {{ idata.created_at }},
        widget: {
          use_counter: true,
          activator: '#Intercom',
          activator_html: function ( obj ) {
            return obj.activator_html_functions.brackets();
          }
        },
      };

      (function() {
        function async_load() {
          var s = document.createElement('script');
          s.type = 'text/javascript'; s.async = true;
          s.src = 'https://api.intercom.io/api/js/library.js';
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        }

        if (window.attachEvent) {
          window.attachEvent('onload', async_load);
        } else {
          window.addEventListener('load', async_load, false);
        };
      })();
    </script>
  {% endif %}
{% endmacro -%}
