{% if site_wide_announcements %}
    <div id="site_wide_announcements" class="container">
        {% for announcement in site_wide_announcements %}
            <div class="alert alert-block alert-info fade in">
                <a class="close" data-dismiss="alert" data-close-url="{% url announcement_hide announcement.pk %}?next={{ request.path }}" href="#">×</a>
                <h4 class="alert-heading">{{ announcement.title }}</h4>
                <div>{{ announcement.content|safe }}</div>
            </div>
        {% endfor %}
    </div>
    <script>
        $(function(){
            $('#site_wide_announcements div.alert .close').bind('click', function () {
                $.get($(this).data("closeUrl"));
            });
        });
    </script>
{% endif %}
