<div class="row">
  <div class="span2">
    <h6>Crate</h6>
    <ul class="unstyled navlinks">
        <li><a href="https://github.com/crateio/">GitHub</a></li>
        <li><a href="https://www.transifex.net/projects/p/crateio/">Transifex</a></li>
    </ul>
  </div>

  <div class="offset6 span2">
    <h6>{{ gettext("Hosted by") }}</h6>
    <div class="sponsor-logo">
      <a href="https://gondor.io/" title="{{ gettext("Hosted by Gondor") }}">
        <img alt="{{ gettext("Hosted by Gondor") }}" src="{{ static("img/sponsors/gondor.png") }}" />
      </a>
    </div>
  </div>

  <div class="span2">
    <h6>{{ gettext("Resolved by") }}</h6>
    <div class="sponsor-logo">
      <a href="http://dyn.com/" title="{{ gettext("Resolved by Dyn") }}">
        <img alt="{{ gettext("Resolved by Dyn") }}" src="{{ static("img/sponsors/dyn.png") }}" />
      </a>
    </div>
  </div>
</div>
