{% extends "site_base.html" %}

{% block head_title %}{{ gettext("Welcome") }}{% endblock %}

{% block body_id %}search{% endblock %}

{% block body %}
  <div class="row">
    <div id="main-title" class="span4">
      <h1>Crate.io</h1>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div id="search-area">
        <form class="form-search" method="GET" action="{{ url("search") }}">
          <input type="hidden" name="has_releases" value="on">

          {{ form.non_field_errors() }}

          <div class="control-group{% if form.q.errors %} error{% endif %}">
            <label class="control-label visuallyhidden" for="id_q">{{ form.q.label }}</label>
            <div class="controls">
              {{ form.q.errors }}

              <div id="search-box" class="input-append">
                <input id="id_q" name="q" type="text" placeholder="{{ gettext("Search") }}" class="span11"><button class="btn" type="submit"><i class="icon-big-search"></i><span class="visuallyhidden">{{ gettext("Search") }}</span></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div id="tagline">
        <p>{{ gettext("Crate is a better Python package index.") }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <div class="info-box">
        {% set number = "20,476" %}
        {% trans %}{{ number }} <span class="info-label">packages</span>{% endtrans %}
      </div>
    </div>

    <div class="span4">
      <div class="info-box">
        {% set number = "149,177,372" %}
        {% trans %}{{ number }} <span class="info-label">downloads</span>{% endtrans %}
      </div>
    </div>

    <div class="span4">
      <div class="info-box">
        <a href="">{{ gettext("Why Crate?") }}</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
  <script>
    $(function() {
      $("#id_q").focus();
    });
  </script>
{% endblock %}
