{% extends "site_base.html" %}

{% block head_title %}{{ gettext("Email Confirmation") }}{% endblock %}

{% block body %}
  {% if email_address %}
    {% set user_display = user_display(email_address.user) %}

    <header class="jumbotron subhead" id="overview">
      <h1>{{ gettext("Email Confirmed") }}</h1>
      <p class="lead">{% trans email=email_address.email %}You have confirmed that {{ email }} is an email address for user '{{ user_display }}'.{% endtrans %}</p>
    </header>
  {% else %}
    <header class="jumbotron subhead" id="overview">
      <h1>{{ gettext("Invalid confirmation key") }}</h1>
      <p class="lead">{{ gettext("The confirmation key you provided is invalid.") }}</p>
    </header>
  {% endif %}
{% endblock %}
