{% load i18n %}

<style>
    #redis-info tr {
        float: left;
        padding-left: 20px;
    }

    #redis-info .key { width: 160px; }
    #redis-info .value { text-align: right; width: 180px;}

    #redis-info .short-key .key { width: 100px; }
    #redis-info .short-key .value { text-align: right; width: 240px;}
</style>

{% if not module.is_empty %}
    <div id="module_{{ module.id }}" class="{{ module.render_css_classes }}">
        {% if module.show_title %}<h2>{% trans module.title %}</h2>{% endif %}
        <div class="dashboard-module-content">
            {% spaceless %}
            {% if module.pre_content %}
            <p>{{ module.pre_content }}</p>
            {% endif %}
            {% block module_content %}

            <table id="redis-info">
                {% for key, value in module.redis_info.iteritems %}
                <tr{% if key|length < 5 %} class="short-key"{% endif %}>
                    <td class="key"><strong>{{ key }}</strong>:</td>
                    <td class="value">{{ value }}</td>
                </tr>
                {% endfor %}
            </table>

            {% endblock %}
            {% if module.post_content %}
            <p>{{ module.post_content }}</p>
            {% endif %}
            {% endspaceless %}
        </div>
    </div>
{% endif %}
