{% load i18n %}

<style>
    .statusboard {
        margin: 1em;
        font-size: 18px;
    }

    .statusboard .h {
        display: inline-block;
        font-weight: bold;
        width: 8em;
    }
</style>

{% if not module.is_empty %}
    <div id="module_{{ module.id }}" class="{{ module.render_css_classes }}">
        {% if module.show_title %}<h2>{% trans module.title %}</h2>{% endif %}
        <div class="dashboard-module-content">
            {% spaceless %}
            {% if module.pre_content %}
            <p>{{ module.pre_content }}</p>
            {% endif %}
            {% block module_content %}

            <div class="statusboard">
                <div><span class="h">Last PyPI Sync:</span> {{ module.last_sync }}</div>
                <div><span class="h">Celery Queue:</span> {{ module.celery_queue_length }}</div>
            </div>

            {% endblock %}
            {% if module.post_content %}
            <p>{{ module.post_content }}</p>
            {% endif %}
            {% endspaceless %}
        </div>
    </div>
{% endif %}
