/* Utility Classes --- */
.visuallyhidden {
  height: 1px;
  width: 1px;

  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);

  position: absolute;
  overflow: hidden;
}
/* --- Utility Classes */

body, p, label, input, button, select, textarea, .navbar-search .search-query {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#body-inner {
  padding-top: 60px;
}

#search-results {
  .results {
    .result {
      padding-top: 10px;
      padding-bottom: 10px;

      .package-name {
        font-weight: bold;
        line-height: 27px;
        font-size: 18px;
      }

      .author { padding-left: 10px; }

      .summary { margin-top: 15px; }
    }
  }

  .results:nth-child(odd) {
    .result {
      background-color: #f9f9f9;
    }
  }

  .results:hover {
    .result {
      background-color: #f5f5f5;
    }
  }
}
