/* Utility Classes --- */
.visuallyhidden {
  height: 1px;
  width: 1px;

  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);

  position: absolute;
  overflow: hidden;
}
/* --- Utility Classes */

#body-inner {
  padding-top: 60px;
}

body, p, label, input, button, select, textarea, .navbar-search .search-query {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
