<div class="result row">
        <div class="span9 package-name"><a href="{{ result.url }}">{{ result.name }}</a></div>

        <div class="span3">
            <div class="author"><em>by Bob</em></div>
        </div>
        <div class="span2">
            <div class="downloads"><span class="count">{{ result.downloads }}</span> downloads</div>
        </div>
        <div class="span2">{# @@@ Link to Source #}</div>
        <div class="span2">{# @@@ Link to Documentation #}</div>

        <div class="span9 summary">{{ result.summary }}</div>
</div>
