<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-list"></i> {{ gettext("Lists") }} <span class="caret"></span>
  </a>

  {% set user_lists = lists_for_user(request.user) %}

  <ul class="dropdown-menu">
    {% if request.user.is_authenticated() %}
      {% for list in user_lists %}
        {% if release.package in list.packages.all() %}
          <li><a href="#remove-from-list-{{ list.pk }}" data-toggle="modal"><i class="icon-remove"></i> {{ gettext("Remove from %(listname)s", listname=list.name) }}</a></li>
        {% else %}
          <li><a href="#add-to-list-{{ list.pk }}" data-toggle="modal"><i class="icon-plus"></i> {{ gettext("Add to %(listname)s", listname=list.name) }}</a></li>
        {% endif %}
      {% endfor %}

      {% if user_lists %}
        <li class="divider"></li>
      {% endif %}

      <li><a href="#add-to-new-list" data-toggle="modal"><i class="icon-edit" data-toggle="modal"></i> {{ gettext("Add to a New List") }}</a></li>
    {% else %}
      <li><a href="{{ url("acct_login") }}?next={{ request.path }}">{{ gettext("Sign in to use Lists") }}</a></li>
    {% endif %}
  </ul>
</div>
