{% import "bootstrap/forms.html" as bootstrap %}

{% set user_lists = lists_for_user(request.user) %}

{% for list in user_lists %}
  {% if release.package in list.packages.all() %}
    <div class="modal fade" id="remove-from-list-{{ list.pk }}">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{{ gettext("Remove %(package)s from %(list)s", package=release.package.name, list=list.name) }}</h3>
      </div>

      <form method="POST" action="{{ url("remove_package_from_list", list=list.name, package=release.package.name) }}" class="form-horizontal json-form">
        {{ csrf() }}

        <div class="modal-body">
          <p>{% trans package=release.package.name, list=list.name %}Are you sure you want to remove <strong>{{ package }}</strong> from <strong>{{ list }}</strong>{% endtrans %}</p>
        </div>

        <div class="modal-footer">
          <div class="hide progress progress-danger progress-striped active">
            <div class="bar" style="width: 100%;"></div>
          </div>

          <a href="#" class="btn">{{ gettext("Nevermind") }}</a>
          <button type="submit" class="btn btn-danger">{{ gettext("Yes, Remove It") }}</button>
        </div>
      </form>
    </div>
  {% endif %}
{% endfor %}

<div class="modal fade" id="add-to-new-list">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>{{ gettext("Add %(package)s to a new List", package=release.package.name) }}</h3>
  </div>

  <form method="POST" action="{{ url("add_package_to_new_list", package=release.package.name) }}" class="form-horizontal json-form">
    <div class="modal-body">
      {{ bootstrap.render_form(new_list_with_package_form()) }}
    </div>

    <div class="modal-footer">
      <div class="hide progress progress-striped active">
        <div class="bar" style="width: 100%;"></div>
      </div>

      <a href="#" class="btn">{{ gettext("Nevermind") }}</a>
      <button type="submit" class="btn btn-primary">{{ gettext("Create List") }}</button>
    </div>
  </form>
</div>
